@import "../../styles/variables";

.Button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  .Filled {
    opacity: 0;
    visibility: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease-out;
    &:hover {
      opacity: 1;
      visibility: visible;
    }
  }
}
