// fonts
$font-main: sans-serif;

$h1: 4rem;
$h2: 3rem;
$h3: 2.5rem;
$h4: 2rem;
$h5: 1.5rem;
$h6: 1.2rem;

// form
$text-field-font-size: 1.8rem;

// alignment
$spacing-very-small: 0.2rem;
$spacing-small: 0.4rem;
$spacing-medium: 0.8rem;
$spacing-large: 1.5rem;

// border-radius
$border-radius-normal: 0.5rem;
$border-radius-small: 0.2rem;

// util
$general-max-width: 100rem;

// colors
$white: #ffffff;
$black: #363840;
$dark-text-1: #363840;
$dark-text-3: #687072;

// border
$light-border: #687072;

// backgrounds
$extra-very-light-background: #f2f2f2;
$very-light-background: #e9e9e9;

// z-indexes
$modal-z-index: 1000;
