@import "../../../styles/variables";

.Title {
  color: $dark-text-1;
  line-height: 1.1;

  &h1 {
    font-size: $h1;
  }
  &h2 {
    font-size: $h2;
  }
  &h3 {
    font-size: $h3;
  }
  &h4 {
    font-size: $h4;
  }
  &h5 {
    font-size: $h5;
  }
  &h6 {
    font-size: $h6;
  }
  &SpacingSmall {
    margin: $spacing-small 0;
  }
  &SpacingMedium {
    margin: $spacing-medium 0;
  }
  &SpacingLarge {
    margin: $spacing-large 0;
  }
}

h1.Title {
  font-size: $h1;
}
h2.Title {
  font-size: $h2;
}
h3.Title {
  font-size: $h3;
}
h4.Title {
  font-size: $h4;
}
h5.Title {
  font-size: $h5;
}
h6.Title {
  font-size: $h6;
}
